body{
    background-color : red;
  }
  
  container{
    display: flex;
    justify-content: space-between;
  }
  
  .bthome{
    display :flex;
    Background: blue;
    align-item: center;
  }
  
  .bthome >div{
    display:flex;
    flex:1;
     width: 100px;
    height: 100px;
    text-align:center;
    align-items:center;
  }
  
  .bthome a{
  background: yellow;
    flex:1;/* poids */
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  